*{box-sizing:border-box; transition: all 0.3s ease;}

body{font-family: 'Nunito', sans-serif!important;}

.containerAll{float:left; width:100%;
	.container{max-width: 1000px; margin:0 auto; padding:0 20px;}
	header{float:left; width:100%; background-color:#222;
		.header{display:flex; align-items:center; justify-content:center; height:80px; font-size:22px; color:#fff; font-weight:600; flex-direction: column;
			span{float:left; width:100%; text-align:center; margin-bottom:5px;
				&:nth-last-child{margin-bottom:0;}
			}
		}
	}
	footer{float:left; width:100%; background-color:#222;
		.footer{display:flex; align-items:center; justify-content:center; flex-direction: column; padding:60px; min-height:100px; text-align:center;
			span{font-size:14px; color:#fff; font-weight:300; letter-spacing:1px; margin-bottom:10px; line-height: 20px;
				a{color:#fff; letter-spacing:1px;}
				&:nth-last-child(1){margin-bottom:0;}
			} 
		}
	}
	.serverError{float:left; width:100%; padding:20px; font-size:18px; text-align:center;}
	.latestWrap{float:left; width:100%; background-color:#eee; margin-bottom: 40px;
		.dateTime{width:100%; display:flex; align-items:center; justify-content:center; font-size:16px; padding:15px;} 
		.latest{display:flex; align-items:center; justify-content: space-between; padding:0 0 40px; width:100%;
			.lt{width:33.3%; padding:0 10px; text-align:center;
				.ltLine{float:left; width:100%;
					span{float:left; width:100%;
						&:nth-child(1){font-size:24px;  margin-bottom:10px; font-family:'Roboto', sans-serif;}
						&:nth-child(2){font-size:42px; margin-top:-5px; font-weight: 600; color: #cc0000; width: 100%; text-align: center; background-color: transparent; border: none; outline: 0;}
					}
					&:nth-child(2){margin-top:20px;
						span{font-size:26px;
							&:nth-child(2){margin-top:-5px;}
						}
					}
				}
			}
		}
	}
	.tableWrap{float:left; width:100%; margin-bottom:100px;
		.table{display:flex; align-items:center; justify-content:center; width:100%; flex-direction: column;
			.searchWrap{float:left; width:100%; position:relative;
				.search{float:left; width:100%; outline:0; padding:10px 20px; margin-bottom:20px; text-align:center; font-size:22px; border:1px solid #bbb;}
				.clearSearch{position: absolute; right: 1px; top:1px; background-color: #e6e6e6; display: flex; align-items: center; justify-content: center; font-size: 20px; padding:9px 15px;
					svg{font-size:28px; color:#968080;}
				}
			}
			ul{float:left; width:100%;
				li{float:left; width:100%; border-bottom:1px solid #eee; display:flex; align-items:center; justify-content:center; 
					div{padding:20px 20px;
					&:nth-child(1){width:5%; }
					&:nth-child(2){width:35%; }
					&:nth-child(3){width:20%; }
					&:nth-child(4){width:20%; }
					&:nth-child(5){width:20%; }
					}
					&:nth-child(even){background-color:#eee;}
					&.tHead{background-color:#6cafc7; color:#fff;}
				}
			}
		}
	}

	.latestCheck{float:left; width:100%; text-align:center; font-size:22px; padding:50px;}
}

@media (max-width: 1023px) {
	.containerAll header .header{font-size: 18px;}
}
@media (max-width: 767px) {
	.containerAll header .header{font-size: 14px; text-align:center; line-height: 20px; height:60px;}
	.containerAll .tableWrap .table .searchWrap .search{font-size:14px;}
	.containerAll .latestWrap{margin-bottom:20px;}
	.containerAll .latestWrap .latest{flex-direction:column; padding:0;}
	.containerAll .latestWrap .latest .lt{width: 100%; padding:0;}
	.containerAll .latestWrap .latest .lt .ltLine{width:50%; border: 1px solid #dcdcdc; padding: 10px;}
	.containerAll .latestWrap .latest .lt .ltLine:nth-child(2){margin-top:0;}
	.containerAll .latestWrap .latest .lt .ltLine span:nth-child(2){font-size:22px; margin-top:0}
	.containerAll .latestWrap .latest .lt:nth-last-child(1){margin-bottom:0;}
	.containerAll .latestWrap .latest .lt .ltLine:nth-child(2) span:nth-child(2){margin-top:0;}
	.containerAll .latestWrap .latest .lt span:nth-child(1){font-size:14px!important; margin-bottom:0!important;}
	.containerAll .latestWrap .latest .lt span:nth-child(2) input{font-size:24px!important; line-height: 36px!important;}
	.containerAll .tableWrap .table ul li div{padding:10px 5px; font-size:13px; line-height:18px;}
	.containerAll .tableWrap .table ul li div:nth-child(1){width:10%;}
	.containerAll .tableWrap .table ul li div:nth-child(2){width:35%;}
	.containerAll .tableWrap .table ul li div:nth-child(3){width:18.33%;}
	.containerAll .tableWrap .table ul li div:nth-child(4){width:18.33%;}
	.containerAll .tableWrap .table ul li div:nth-child(5){width:18.33%;}
	.containerAll header .header span{margin-bottom:0;}
	.containerAll .tableWrap .table ul li{padding:5px;}
	.containerAll .container{padding:0;}
	.containerAll .tableWrap .table .searchWrap .clearSearch svg{font-size:19px;}
}